/*body {*/
/*    padding: 12px 24px;*/
/*}*/
#first-section {
    display: flex;
    flex-direction: row;
}
#first-section > div {
    width: 200px!important;
    height: 300px;
    background-color:darkgray;
    margin-left: 10px;
    padding: 12px 8px;
    font-size: 24px;
    text-align: center!important;
}
#first-section > h1{
    color: yellow;
}
#first-section > div > h1{
    font-size: 18px;
    color: green;
}
#second-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 12230px;
}
div #box1-1{
    width: 100%;
    height: 250px auto;
    background-color: cadetblue;
    margin-left: 10px;
    border-radius: 20px;

    padding: 12px 8px;
}
div #box1-1 h1, h2{
    display: inline;
    font-size: 24px;
    /*border-right: 1px solid red;*/
    margin-left: 125px;
    padding-left: 10px;
}
label {
    text-align: center;
}
@media only screen and (max-width: 1540px) {
    #first-section {
        overflow-x: scroll;
        display:-webkit-box;
    }
    #second-section {
        overflow-x: scroll;
        display:-webkit-box;
        height: 250px;
    }
}
